@model Souvenir.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "تغییر کلمه عبور";
}

<h2>ChangePassword</h2>


<main class="login-signUp">
    <div class="form-container">

        @using (Html.BeginForm("ChangePassword", "UsersManager", FormMethod.Post))
        {

            <header class="login-header">
                <h4>ورود به سایت</h4>
                <a href="/">
                    صفحه اصلی
                    <i class="fas fa-house-chimney"></i>
                </a>
            </header>
            <div class="logo">
                <img src="~/Images/favicon.png" alt="Logo">
            </div>

            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            <div class="form-inputs">
                <i class="fas fa-lock"></i>
                @Html.EditorFor(model => model.OldPassword, new { htmlattributes = new { placeholder = "کلمه عبور فعلی" } })
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>


            <div class="form-inputs">
                <i class="fas fa-lock"></i>
                @Html.EditorFor(model => model.NewPassword, new { htmlattributes = new { placeholder = "کلمه عبور جدید" } })
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>

            <div class="form-inputs">
                <i class="fas fa-lock"></i>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlattributes = new { placeholder = "تکرار کلمه عبور" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

            <div class="submit">
                <input class="btn" value="تغییر کلمه عبور" type="submit" />
            </div>
        }
    </div>
</main>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
