@model Souvenir.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "بازیابی کلمه عبور";
}


<main class="login-signUp">
    <div>

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <header class="login-header">
                <h4>بازیابی کلمه عبور</h4>
                <a href="/">
                    صفحه اصلی
                    <i class="fas fa-house-chimney"></i>
                </a>
            </header>
            <div class="logo">
                <img src="~/Images/favicon.png" alt="Logo">
            </div>
            @Html.ValidationSummary()
            @Html.HiddenFor(model => model.Code)

            <div class="form-inputs">
                <i class="fas fa-lock"></i>
                @Html.TextBoxFor(model => model.Email)
            </div>

            <div class="form-inputs">
                <i class="fas fa-lock"></i>
                @Html.PasswordFor(model => model.Password)
            </div>

            <div class="form-inputs">
                <i class="fas fa-lock"></i>
                @Html.PasswordFor(model => model.ConfirmPassword)
            </div>
            <div class="submit">
                <button type="submit">ورود</button>
            </div>


        }

    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


